<form action="#">
    <div id= "editimageupload-container"></div>
    <label class="col-sm-2 control-label">Name</label><input class="name" value="<%= name %>" /><br/>
   <label class="col-sm-2 control-label" for="type">Type:</label>
                <select id="select_type">
                    <option value="1">Family</option>
                    <option value="2">school</option>
                    <option value="3">College</option>
                </select><br/><br/>

    <label class="col-sm-2 control-label">Address</label><input class="address" value="<%= address %>" /><br/>
    <label class="col-sm-2 control-label">Telephone</label><input class="tel" value="<%= tel %>" /><br/>
    <label class="col-sm-2 control-label">Email</label><input class="email" value="<%= email %>" /><br/>

    <button class="save btn btn-success">Save</button></div>
    <button class="cancel btn btn-warning">Cancel</button></div><br/>
</form><br/>